body {
    background-image: url("images/back.jpeg");;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Montserrat', normal;
}
.welcome{
    text-align:center;
    color: #b1b1b1;
    font-size: 35px;
    font-family: 'Montserrat', normal;
}
.white{
    text-align:center;
    color: #b1b1b1;
    font-size: 35px;
}
.footer{
    /*position: fixed;*/
    text-align:center;
    font-size:10px;
    color: #aeaeae;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 75px;
    margin-top:60px;
    margin-left:0px;
    /*box-shadow: 0px 1px 5px 5px #eee;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0px 0 0px;
    font-family: 'Montserrat', normal;
    /*box-sizing: border-box;*/
}

.flexbox-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content:center;
    -webkit-align-items: center;
    height:500px;
}
.flex-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
a:link {color: #b1b1b1
}
a:visited {color: #b1b1b1}
a:hover {color: #d7d6d7
}
a:active {color: #d7d6d7}
.loginButton:hover {
    background:linear-gradient(to bottom, #830f00 5%, #cdcdcd 100%);
    background-color: #707070;
}
.loginButton:active {
    position:relative;
    top:1px;
}
#login_control {
    padding: 0 28px;
}
.loginButton {
    font-size: 14px;
    width: 400px;
    height: 100px;
    line-height: 28px;
    text-align: center;

    color: white;
    background-color: #757474;
    border-radius: 100px;
    border: 0;
    float: left;
    margin-right: 50px;
    font-family: 'Montserrat', normal;
}
.sep{margin:30px;border:0;padding:0;}


#page-container {
    width: 400px;
    height: 170px;
    padding: 13px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -220px;
    margin-top: -100px;

    background-color: rgba(240, 255, 255, 0.5);

    border-radius: 10px;
    text-align: center;
}
form p > * {
    display: inline-block;
    vertical-align: middle;
}
.submitButton {
    font-size: 14px;
    width: 120px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: white;
    background-color: #757474;
    border-radius: 6px;
    border: 0;
    float: left;
    margin-right: 50px;
    font-family: 'Montserrat', normal;
}

.label_input {
    font-size: 14px;

    width: 65px;
    height: 28px;
    line-height: 28px;
    text-align: center;

    color: white;
    background-color: #757474;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.text_field {
    width: 278px;
    height: 28px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}
.enterPrisoner {
    color: #4e4949;
}
.top-container {
    padding-top: 10px;
    position: relative;
    text-align: center;
}
h1 {
    color: rgb(255, 255, 255);
    font-family: 'Merriweather', normal;
    font-size: 40px;
    font-weight: bold;
}

h3 {
    color: rgb(201, 201, 201);
    font-family: 'Montserrat', normal;
}

h5 {
    color: rgb(110, 233, 192);
    font-family: 'Merriweather', normal;
    font-size: 15px;
    margin: 5px;
    letter-spacing: 2px;
    padding-top: 10px;
}

/* unique css command: navigation bar */

.ulnavi ul{
    list-style-type: horizontal;
    margin: auto;
    padding: 0;
    text-align: center;
    list-style-type: none;
    overflow: hidden;
    position: relative;
    background-color: rgb(240, 240, 240);
    width:300px;
    border-radius: 100px;
}

/*.ulnavi ul li {*/
/*    float:center;*/
/*}*/

.ulnavi ul li a {
    display: block;
    transition-duration: 0.3s;
    border-radius: 100px;
    border: 5px;
    color: rgb(82, 82, 82);
    opacity: 1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.ulnavi ul li a:hover {
    color: rgb(255, 255, 255);
    opacity: 1;
    background-color: rgb(66, 66, 66);
}